/build/tmp/compileJava/compileTransaction/stash-dir/FirstController.class.uniqueId0
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/classes/java/main/com/example/firstproject/controller/FirstController.class
/build/classes/java/test/com/example/firstproject/FirstprojectApplicationTests.class
/build/
/.gradle/
/build/
/.idea/
/gradle/
